In [1]:
import pandas as pd
import numpy as np

Return month sales of 2 most expensive products in each product_category

In [2]:
chain_a = pd.read_csv("csv/chain_a.csv")
chain_b = pd.read_csv("csv/chain_b.csv")
chain_c = pd.read_csv("csv/chain_c.csv")
m_product = pd.read_csv("csv/m.product.csv")

In [13]:
m_product.head()

   product_id  price product_category      product_name
0         101    200         Sandwich       Egg Special
1         102    130           Cookie       White Choco
2         103    150            Fruit             Apple
3         104    400         Sandwich  Teriyaki Special
4         105    300           Cookie        Dark Choco

In [18]:
m_productf=m_product[["product_id","product_category","price"]]

In [19]:
m_productf["Rank"] = m_productf["price"].rank()

In [20]:
m_productf.head()

   product_id product_category  price  Rank
0         101         Sandwich    200   8.0
1         102           Cookie    130   3.0
2         103            Fruit    150   5.0
3         104         Sandwich    400  15.0
4         105           Cookie    300  10.0

In [21]:
m_productf.sort_values("price", inplace = True)

In [22]:
m_productf.head()

    product_id product_category  price  Rank
11         112            Fruit     90   1.0
8          109            Fruit    110   2.0
1          102           Cookie    130   3.0
14         115            Fruit    140   4.0
2          103            Fruit    150   5.0

In [3]:
chain_geral = pd.concat([chain_a, chain_b, chain_c], axis=0)
chain_geral.head()

       Date  store_id  product_id  volume
0  01-01-19         3         104     228
1  02-01-19         1         114     345
2  03-01-19         1         110     116
3  04-01-19         2         103     152
4  05-01-19         2         111     293

In [4]:
geral_name = pd.merge(chain_geral, m_product, how="left", on="product_id")
geral_name.head()

,Date,store_id,product_id,volume,price,product_category,product_name
0,01-01-19,3,104,228,400,Sandwich,Teriyaki Special
1,02-01-19,1,114,345,180,Chocolte,Blueberry Mix
2,03-01-19,1,110,116,460,Sandwich,Strawberry Fruit
3,04-01-19,2,103,152,150,Fruit,Apple
4,05-01-19,2,111,293,320,Ice Cream,Fruit Mix

In [5]:
geral_name.loc[geral_name["product_category"] == "Chocolte","product_category"] = "Chocolate"

In [6]:
geral_name['Date'] = geral_name['Date'].astype('datetime64')

In [7]:
geral_name.dtypes

Date                datetime64[ns]
store_id                     int64
product_id                   int64
volume                       int64
price                        int64
product_category            object
product_name                object
dtype: object

In [8]:
geral_name['month'] = geral_name['Date'].dt.month
geral_name['year'] = geral_name['Date'].dt.year

In [9]:
geral_name.head()

,Date,store_id,product_id,volume,price,product_category,product_name,month,year
0,2019-01-01,3,104,228,400,Sandwich,Teriyaki Special,1,2019
1,2019-02-01,1,114,345,180,Chocolate,Blueberry Mix,2,2019
2,2019-03-01,1,110,116,460,Sandwich,Strawberry Fruit,3,2019
3,2019-04-01,2,103,152,150,Fruit,Apple,4,2019
4,2019-05-01,2,111,293,320,Ice Cream,Fruit Mix,5,2019

In [10]:
end2 = geral_name.pivot_table(
    values="volume", 
    index=["product_category" ,"price"], 
    columns=["year","month"], 
    aggfunc=np.sum
) 
end2

year                      2019                                          \
month                       1       2       3       4       5       6
product_category price
Chocolate        160    1879.0   798.0   606.0   697.0   734.0  1457.0
                 180    1029.0   907.0   273.0   846.0   940.0   776.0
                 330     971.0   383.0   854.0   350.0   978.0   791.0
Cookie           130    1146.0  1033.0   754.0   438.0  1212.0   714.0
                 300     410.0  1412.0  1042.0   767.0   711.0  1253.0
                 1300   1243.0   171.0  1011.0   803.0   876.0   223.0
Fruit            90      117.0   701.0   316.0  1268.0  1404.0   995.0
                 110     859.0   492.0   387.0   392.0   847.0   812.0
                 140     906.0   836.0  1080.0   782.0   681.0   278.0
                 150     841.0   336.0   938.0   786.0   284.0   568.0
                 450     566.0  1613.0   409.0  1165.0  1076.0   168.0
                 490    1087.0   705.0   631.0  1519.0  1460.0  1429.0
Ice Cream        240    1179.0  1154.0  2149.0   383.0  1336.0   897.0
                 320     609.0   556.0   322.0  1101.0   805.0   523.0
Sandwich         200    1110.0     NaN   453.0  1440.0   469.0  1301.0
                 340     786.0   938.0   150.0   923.0   297.0   681.0
                 390     837.0   934.0   857.0   348.0   953.0   847.0
                 400     942.0   422.0  1463.0   471.0     7.0   181.0
                 460     672.0  1095.0  1081.0   778.0   745.0   432.0
                 550     966.0   994.0   783.0   311.0  1070.0  1303.0

year                                                    ...    2022          \
month                       7       8       9       10  ...      3       4
product_category price                                  ...
Chocolate        160    1066.0   782.0  1064.0   924.0  ...  1074.0   283.0
                 180     397.0  1245.0   490.0  1251.0  ...   246.0   834.0
                 330     392.0   816.0   474.0   605.0  ...  1320.0   433.0
Cookie           130     572.0  1438.0   650.0   409.0  ...   830.0  1424.0
                 300     869.0  1419.0   569.0   782.0  ...   824.0   500.0
                 1300   1001.0   831.0   909.0   669.0  ...  1053.0   986.0
Fruit            90      328.0   845.0   340.0   421.0  ...   852.0   783.0
                 110     282.0  1123.0  1173.0   931.0  ...   738.0   895.0
                 140     319.0   569.0  1024.0   895.0  ...   153.0   263.0
                 150     815.0   684.0   974.0   801.0  ...  1414.0   954.0
                 450    2015.0  1259.0  1029.0   731.0  ...   942.0   592.0
                 490     580.0   928.0   390.0   581.0  ...   578.0   123.0
Ice Cream        240    1046.0   497.0   757.0  1326.0  ...   764.0   739.0
                 320    1622.0   345.0  1059.0   263.0  ...   198.0   639.0
Sandwich         200    1382.0   231.0   294.0   624.0  ...   697.0  1446.0
                 340     425.0   758.0   191.0   531.0  ...   166.0   824.0
                 390     272.0   303.0   873.0  1485.0  ...  1063.0   865.0
                 400     795.0   394.0  1242.0  1113.0  ...  1586.0  1159.0
                 460     460.0   893.0   899.0   618.0  ...   931.0   675.0
                 550    1580.0   699.0  1165.0   852.0  ...   784.0  1661.0

year                                                                    \
month                       5       6       7       8       9       10
product_category price
Chocolate        160    1280.0   518.0   990.0  1047.0  1775.0  1098.0
                 180     242.0   716.0   731.0   408.0  1227.0   261.0
                 330     493.0   702.0  2369.0  1400.0  1090.0  1395.0
Cookie           130     931.0  1147.0  1243.0  1835.0   599.0   734.0
                 300     916.0   597.0   246.0  1119.0   874.0   276.0
                 1300    499.0   632.0   745.0  1085.0  2122.0   562.0
Fruit            90      639.0   735.0   230.0   908.0  1075.0     NaN
                 110     714.0   512.0   891.0   371.0   480.0  1551.0
                 140     187.0   380.0   903.0   613.0   502.0   757.0
                 150     577.0   608.0   152.0  1431.0   763.0  1139.0
                 450     518.0   494.0  1473.0   591.0   451.0   258.0
                 490     714.0   994.0  1315.0   580.0  1723.0  2042.0
Ice Cream        240     850.0  1142.0   629.0   740.0   876.0   704.0
                 320     283.0  1217.0   987.0  1065.0   300.0  1035.0
Sandwich         200    1387.0   570.0   369.0    18.0   413.0   810.0
                 340     999.0  1066.0   280.0   463.0  1302.0  1511.0
                 390    1080.0  1044.0   420.0   693.0   312.0   695.0
                 400    1018.0  1242.0  1036.0   813.0   908.0   571.0
                 460    1021.0  1737.0   298.0  1013.0   468.0   743.0
                 550    1231.0  1411.0   569.0  1300.0   853.0   213.0

year
month                       11      12
product_category price
Chocolate        160     738.0   754.0
                 180     941.0  1012.0
                 330     892.0   623.0
Cookie           130     513.0   699.0
                 300    1136.0   821.0
                 1300   1427.0   580.0
Fruit            90      408.0   522.0
                 110    1655.0   430.0
                 140    1387.0  1519.0
                 150     673.0  1445.0
                 450     559.0  1144.0
                 490     389.0  1220.0
Ice Cream        240    1889.0   829.0
                 320      73.0   833.0
Sandwich         200    1816.0   483.0
                 340     621.0   528.0
                 390     118.0   472.0
                 400     288.0   536.0
                 460     713.0   889.0
                 550     581.0   771.0

[20 rows x 48 columns]

In [11]:
end3 = end2.reset_index()
end3['price'] = pd.to_numeric(end3['price'])
end3

year  product_category price    2019                                          \
month                              1       2       3       4       5       6
0            Chocolate   160  1879.0   798.0   606.0   697.0   734.0  1457.0
1            Chocolate   180  1029.0   907.0   273.0   846.0   940.0   776.0
2            Chocolate   330   971.0   383.0   854.0   350.0   978.0   791.0
3               Cookie   130  1146.0  1033.0   754.0   438.0  1212.0   714.0
4               Cookie   300   410.0  1412.0  1042.0   767.0   711.0  1253.0
5               Cookie  1300  1243.0   171.0  1011.0   803.0   876.0   223.0
6                Fruit    90   117.0   701.0   316.0  1268.0  1404.0   995.0
7                Fruit   110   859.0   492.0   387.0   392.0   847.0   812.0
8                Fruit   140   906.0   836.0  1080.0   782.0   681.0   278.0
9                Fruit   150   841.0   336.0   938.0   786.0   284.0   568.0
10               Fruit   450   566.0  1613.0   409.0  1165.0  1076.0   168.0
11               Fruit   490  1087.0   705.0   631.0  1519.0  1460.0  1429.0
12           Ice Cream   240  1179.0  1154.0  2149.0   383.0  1336.0   897.0
13           Ice Cream   320   609.0   556.0   322.0  1101.0   805.0   523.0
14            Sandwich   200  1110.0     NaN   453.0  1440.0   469.0  1301.0
15            Sandwich   340   786.0   938.0   150.0   923.0   297.0   681.0
16            Sandwich   390   837.0   934.0   857.0   348.0   953.0   847.0
17            Sandwich   400   942.0   422.0  1463.0   471.0     7.0   181.0
18            Sandwich   460   672.0  1095.0  1081.0   778.0   745.0   432.0
19            Sandwich   550   966.0   994.0   783.0   311.0  1070.0  1303.0

year                   ...    2022                                          \
month       7       8  ...       3       4       5       6       7       8
0      1066.0   782.0  ...  1074.0   283.0  1280.0   518.0   990.0  1047.0
1       397.0  1245.0  ...   246.0   834.0   242.0   716.0   731.0   408.0
2       392.0   816.0  ...  1320.0   433.0   493.0   702.0  2369.0  1400.0
3       572.0  1438.0  ...   830.0  1424.0   931.0  1147.0  1243.0  1835.0
4       869.0  1419.0  ...   824.0   500.0   916.0   597.0   246.0  1119.0
5      1001.0   831.0  ...  1053.0   986.0   499.0   632.0   745.0  1085.0
6       328.0   845.0  ...   852.0   783.0   639.0   735.0   230.0   908.0
7       282.0  1123.0  ...   738.0   895.0   714.0   512.0   891.0   371.0
8       319.0   569.0  ...   153.0   263.0   187.0   380.0   903.0   613.0
9       815.0   684.0  ...  1414.0   954.0   577.0   608.0   152.0  1431.0
10     2015.0  1259.0  ...   942.0   592.0   518.0   494.0  1473.0   591.0
11      580.0   928.0  ...   578.0   123.0   714.0   994.0  1315.0   580.0
12     1046.0   497.0  ...   764.0   739.0   850.0  1142.0   629.0   740.0
13     1622.0   345.0  ...   198.0   639.0   283.0  1217.0   987.0  1065.0
14     1382.0   231.0  ...   697.0  1446.0  1387.0   570.0   369.0    18.0
15      425.0   758.0  ...   166.0   824.0   999.0  1066.0   280.0   463.0
16      272.0   303.0  ...  1063.0   865.0  1080.0  1044.0   420.0   693.0
17      795.0   394.0  ...  1586.0  1159.0  1018.0  1242.0  1036.0   813.0
18      460.0   893.0  ...   931.0   675.0  1021.0  1737.0   298.0  1013.0
19     1580.0   699.0  ...   784.0  1661.0  1231.0  1411.0   569.0  1300.0

year
month       9      10      11      12
0      1775.0  1098.0   738.0   754.0
1      1227.0   261.0   941.0  1012.0
2      1090.0  1395.0   892.0   623.0
3       599.0   734.0   513.0   699.0
4       874.0   276.0  1136.0   821.0
5      2122.0   562.0  1427.0   580.0
6      1075.0     NaN   408.0   522.0
7       480.0  1551.0  1655.0   430.0
8       502.0   757.0  1387.0  1519.0
9       763.0  1139.0   673.0  1445.0
10      451.0   258.0   559.0  1144.0
11     1723.0  2042.0   389.0  1220.0
12      876.0   704.0  1889.0   829.0
13      300.0  1035.0    73.0   833.0
14      413.0   810.0  1816.0   483.0
15     1302.0  1511.0   621.0   528.0
16      312.0   695.0   118.0   472.0
17      908.0   571.0   288.0   536.0
18      468.0   743.0   713.0   889.0
19      853.0   213.0   581.0   771.0

[20 rows x 50 columns]

In [12]:
end4 = end3.groupby('product_category')['price'].nlargest(2)
end3[end3['price'].isin(end4)].reset_index(drop = True)

year  product_category price    2019                                          \
month                              1       2       3       4       5       6
0            Chocolate   180  1029.0   907.0   273.0   846.0   940.0   776.0
1            Chocolate   330   971.0   383.0   854.0   350.0   978.0   791.0
2               Cookie   300   410.0  1412.0  1042.0   767.0   711.0  1253.0
3               Cookie  1300  1243.0   171.0  1011.0   803.0   876.0   223.0
4                Fruit   450   566.0  1613.0   409.0  1165.0  1076.0   168.0
5                Fruit   490  1087.0   705.0   631.0  1519.0  1460.0  1429.0
6            Ice Cream   240  1179.0  1154.0  2149.0   383.0  1336.0   897.0
7            Ice Cream   320   609.0   556.0   322.0  1101.0   805.0   523.0
8             Sandwich   460   672.0  1095.0  1081.0   778.0   745.0   432.0
9             Sandwich   550   966.0   994.0   783.0   311.0  1070.0  1303.0

year                   ...    2022                                          \
month       7       8  ...       3       4       5       6       7       8
0       397.0  1245.0  ...   246.0   834.0   242.0   716.0   731.0   408.0
1       392.0   816.0  ...  1320.0   433.0   493.0   702.0  2369.0  1400.0
2       869.0  1419.0  ...   824.0   500.0   916.0   597.0   246.0  1119.0
3      1001.0   831.0  ...  1053.0   986.0   499.0   632.0   745.0  1085.0
4      2015.0  1259.0  ...   942.0   592.0   518.0   494.0  1473.0   591.0
5       580.0   928.0  ...   578.0   123.0   714.0   994.0  1315.0   580.0
6      1046.0   497.0  ...   764.0   739.0   850.0  1142.0   629.0   740.0
7      1622.0   345.0  ...   198.0   639.0   283.0  1217.0   987.0  1065.0
8       460.0   893.0  ...   931.0   675.0  1021.0  1737.0   298.0  1013.0
9      1580.0   699.0  ...   784.0  1661.0  1231.0  1411.0   569.0  1300.0

year
month       9      10      11      12
0      1227.0   261.0   941.0  1012.0
1      1090.0  1395.0   892.0   623.0
2       874.0   276.0  1136.0   821.0
3      2122.0   562.0  1427.0   580.0
4       451.0   258.0   559.0  1144.0
5      1723.0  2042.0   389.0  1220.0
6       876.0   704.0  1889.0   829.0
7       300.0  1035.0    73.0   833.0
8       468.0   743.0   713.0   889.0
9       853.0   213.0   581.0   771.0

[10 rows x 50 columns]